
{% extends "network/indexx.html" %}
{% block blog %}


<div id="blog-content">
    <h2>À propos de l'École Centrale Casablanca</h2>
    <section class="blog-section">
        <h3>Présentation</h3>
        <p>
            L'École Centrale Casablanca est un établissement prestigieux d'enseignement supérieur situé à Casablanca. 
            Elle offre des programmes de formation d'ingénieurs de haut niveau, visant à former des cadres dirigeants 
            pour les entreprises et l'industrie.
        </p>
    </section>
    <section class="blog-section">
        <h3>Environnement de Formation</h3>
        <p>
            Les étudiants de l'École Centrale Casablanca bénéficient d'un environnement de formation de qualité, 
            combinant à la fois des enseignements théoriques et pratiques, ainsi que des opportunités de recherche 
            et d'innovation.
        </p>
    </section>
    <section class="blog-section statistics">
        <h3>Quelques Chiffres</h3>
        <ul class="statistics-list">
            <li>500+ Étudiants</li>
            <li>30+ Partenariats Industriels</li>
            <li>20+ Programmes d'Échange</li>
            <li>95% Taux d'Emploi des Diplômés</li>
        </ul>
    </section>
    <section class="blog-section">
        <h3>Opportunités</h3>
        <p>
            Nous vous invitons à explorer les nombreuses opportunités qu'offre notre institution, que ce soit à 
            travers des stages, des projets de recherche ou des collaborations avec l'industrie.
        </p>
    </section>
</div>
{% endblock %}
