{% extends "network/indexx.html" %}
{% load static %}



{% block content %}
<h1>{{ profile_user.username }}</h1>
<div>
    <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture" />
</div>
<div>
    <p>Nom: {{ profile_user.username }} {{ profile_user.last_name }}</p>
    <p>Email: {{ profile_user.email }}</p>
    <p>Groupe: {{ profile_user.user_group }}</p>
    <p>Bio: {{ profile_user.bio }}</p>
</div>

<a href="{% url 'profile_view' %}" class="btn-login">Configurer le profil</a>

{% endblock %}
